*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

body{
     background-color: #E5EEF6;
}
/* Nav */

 .main-container{
     width: 100%;
     height: 100%;
     /* Give it a fixed width in px */

 }

 .home{
    height: 130vh;
    width: 100%;
    padding: .5rem 2.75rem 0 2.75rem;
    /* border: 2px solid green; */
    
}
nav{
    width: 100%;
    /* display: flex; */
    /* border: 2px solid purple; */
}


.logo-image{
    width: 6.5em;
    float: left;
    /* border: 1px dashed green; */
   /* margin: auto .25em; */
  
}

nav ul  .list-menu{
    margin:.75em 1.0em;
    color: #1e266d;
    font-weight: 600;
}

nav ul{
    margin-left: 220px;
    /* background-color: darkorchid; */
}

li{
    display: inline-block;
    list-style-type: none;
}
